<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    colors = "true"
    verbose = "true"
    debug = "true"
    bootstrap ="vendor/autoload.php"
    >

    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
      <whitelist>
        <directory suffix=".php">src</directory>
      </whitelist>
    </filter>
    <php>
        <ini name="error_reporting" value="E_ALL" />
        <ini name="display_errors" value="1" />
        <ini name="display_startup_errors" value="1" />
    </php>
</phpunit>
